:root {
    --primary-text-color: #959595 ;
    --secondary-text-color: #DEDEDE;
    --white-text-color: #ffffff;
    --background-button-color: #9D9D9D;
}

/*переробити 
шрифти боді,колір .... - це не заголовки */

body {
background-color: #DBDBDB;
color: var(--primary-text-color);
font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: 600;
    font-size: 24px;
    line-height: 36px;

letter-spacing: -0.5px;

margin: 0;

}

.container {
    width: 1248px;
    
    padding-left: 96px;
    padding-right: 96px;
    background-color: #292929;
    margin-left: auto;
    margin-right: auto;
   
    
  
    
}

h1,
h2,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
}

.link {
    display: block;
    text-decoration: none;
}

.header-container {
    display: flex;
    background-color: rgba(50, 50, 50, 0.9);
    
    
}

.header-nav {
    display: flex;


}

.logo {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 20px;
        line-height: 27px;
}

.nav-item .link {
    color: var(--secondary-text-color);
}

.nav-item,
.button {
    font-weight: 600;
    font-size: 18px;
        line-height: 25px;
}

.main.title {
    
    font-weight: 700;
        font-size: 64px;
        line-height: 70px;
        color: var(--secondary-text-color);
        padding-top: 129px;
}

/*
.hero p {
    color: var(--secondary-text-color);
   
        font-size: 24px;
        line-height: 36px;
}
*/

.button {

    cursor: pointer;
    color: var(--white-text-color);
    font-family: inherit;
    background-color: var(--background-button-color);
    text-align: center;

    display: flex;
    align-items: center;
    
        border: none;
        border-radius: 4px;
        padding: 19px 101px;
}
.featured-work-title {
    font-size: 16px;
    font-style: normal;
        line-height: 16px;
        
        letter-spacing: 1.5px;
        text-transform: uppercase;
        opacity: 0,7;
}


.img {
    display: block;
    max-width: 100%;
    height: auto;
    
    
    border-radius: 4px;
    background-color: #292929;
}



.featured-work-item {
   display: block;
   max-width: 612px;
   
}




.featured-work-item:nth-child(-n+2) {
    margin-bottom: 24px;
}

.featured-work-item:nth-child(2n+1) {
margin-right: 24px;
}

.featured-work-list {
    display: flex;
    flex-wrap: wrap;
    
   
}

/*
.featured-work-item.fist {
    position: absolute;
}
*/


.featured-work-item.second,
.featured-work-item.fourd
{
    position: relative;
    top: 138px;
    
}

.featured-work-item.fourd {
    margin-bottom: 138px;
}



.title {
    
    color: var(--secondary-text-color);
    font-style: normal;
    font-weight: 700;
        font-size: 36px;
        line-height: 49px;
        text-align: center;
        letter-spacing: -0.5px;
        padding-top: 240px;
}

.visual-explorations-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px;
    
}

.visual-explorations-item {
    display: flex;
    margin-right: 24px;
    margin-bottom: 24px;
    flex-basis: calc((100% - 72px) / 3);
}

/*.visual-explorations-item:nth-child(3n+1) {
    margin-bottom: 24px;
}
*/

.personal-projects-list {
    display: flex;
    margin-right: -24px;
}

.personal-projects-item {
    display: flex;
    margin-right: 24px;
    flex-basis: calc((100% - 72px) / 3);
}

.contacting .container {
    padding-bottom: 119px;
}

.contacting .title {
    margin-bottom: 24px;
}

.contacting p {
    text-align: center;
    margin-bottom: 46px;
}

.contacting .button {
    
   display: flex;
justify-content: center;
    align-items: center;
    min-width: 400px;
   margin-left: auto;
   margin-right: auto;
   
   

}

.underline-copyright span {
    color: var(--white-text-color);
}

.underline-copyright {
    font-size: 16px;
    padding-top: 48px;
    margin-bottom: 36px;
}

.underline .container {
    border-top: solid 1px #696969;
    
   
}


